.content {
  width: 80%;
  left: 17%;
  padding: 20px;
  padding-left: 3%;
  .title1 {
    padding: 2rem 0 2rem 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .btn-adduser {
    background: #40c5e5;
    border: 1px solid #9abad6;
    border-radius: 7px;
    margin: 0 0 1.5em 1em;
    height: 3em;
    width: 10em;
    color: #fff;
  }
  .show-products {
    .head {
      display: flex;
      // padding: 1rem 1rem 2rem 0px;
      justify-content: space-between;
      align-items: center;
    }
    table {
      border: 1px solid #66afe9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
      border-collapse: collapse;
      top: 20px;
      left: 16px;
      margin-bottom: 50px;
      th {
        height: 3em;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }
      tr {
        border-bottom: 1px solid #ccc;
      }
      td {
        padding: 10px;
        text-align: center;
        max-width: 200px;
        a {
          margin: 8px;
          cursor: pointer;
        }
      }
    }
  }
  .show-addProducts {
    display: flex;
    margin: auto 4rem;
    .form-input {
      padding: 1rem;
      width: 12rem;
      label {
        padding: 0rem;
      }
      .category-groups {
        padding: 5px 6px;
      }
      .form-categories {
        border: 1px solid #ccc;
        width: 50rem;
        height: 2rem;
        margin: 0.8rem 1rem 3px 0;
        .categories {
          padding: 5px 6px;
        }
      }
      .list-img {
        display: flex;
        width: 50rem;
        height: 10rem;
        overflow: inherit;
        margin-top: 1.1em;
        padding: 0 0.25em;
        border: 1px solid #ccc;
        .img {
          .btn-del-img {
            float: right;
            transform: translateY(-9.4rem);
            margin-right: 14px;
            i {
              background: #edc6cd;
              width: 1rem;
              height: 1rem rem;
              border-radius: 50%;
              padding-top: 1.5px;
            }
          }
        }
      }
      input {
        width: 50rem;
        border: 1px solid #ccc;
        margin: 0.8rem 1rem 3px 0;
        height: 1.8rem;
        padding: 3px 6px;
      }
      img {
        padding: 0.5em 0.25em;
        width: 100%;
        max-width: 50rem;
        height: 100%;
        max-height: 50rem;
        object-fit: cover;
      }
    }
    .footer {
      display: flex;
      margin-left: 0.5rem;
      button {
        width: 6rem;
        margin-top: 1rem;
      }
    }
  }
}
